<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>用户注册</title>
<link href="/resources/css/bootstrap.min.css" type="text/css"
	rel="stylesheet" />
<style type="text/css">
body {body { padding-top:70px;
}
}
</style>
</head>
<body>
<div><h2>用户注册：</h2></div>

<form class="form-horizontal">
	<div class="form-group has-success has-feedback">
		<label class="control-label col-sm-3" for="inputUserName">用户名：</label>
		<div class="col-sm-9">
			<input type="text" name="userName" class="form-control focus" id="inputUserName" aria-describedby="inputSuccess3Status">
			<span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
			<span id="inputSuccess3Status" class="sr-only">(success)</span>
		</div>
	</div>
</form>
</body>
</html>